.acme-navbar-text{
  color: white;
}
.toolbar{
  background-color: $secondpink!important;
}
.pink-btn{
  background-color: $firstpink!important;
  color: white!important;
}
.logo{
  width: 200px;
  margin-left: 20px;
  margin-top: 5px;
}
