<md-card class="recipe-preview" style="background-image: url('http://www.la-mirande.fr/hotel-avignon/public/pictures/picture_restaurant-gastronomique-vaucluse.jpg'); background-size: cover">
    <div class="mycontent">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Icon action buttons</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste magnam minima perferendis provident quae quasi saepe, veritatis.
        </p>
    </md-card-content>
    <i class="material-icons md-dark">favorite</i>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
            <md-icon class="icon_home" aria-label="Home"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Share">
            <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
        </md-button>
    </md-card-actions>
    </div>
</md-card>